<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aris Lesnar</title>
</head>
<body>
    <span>Welcome Back <b><%= user %></b>!</span>
    <form action="/logout" method="POST">
      <button>LOGOUT</button>
    </form>
    <form action="/deleteaccount" method="POST">
      <button>DELETE MY ACCOUNT</button>
    </form>
</body>
</html>