<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Register</title>
</head>

<body>
    <div class="loginbox">

    <form action="/create" method="POST">
        <% if(locals.err_msg) { %>
            <span class="alert-danger">
                <%= err_msg %>
            </span>
            <% } %>
                <input type="text" placeholder="Enter Username!" name="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <br><span class="createloginaccount" style="position: relative;left:20%;">Don't have an account? <a href="/">Login</a></span>
                <button>CREATE!</button>
    </form>
    </div>
</body>

</html>